html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background-color: #031a0c;
  color: #c7c7c5;
}

h1, h2, h3 {
  font-family: 'Caveat', cursive;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

span {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: #33e007;
}

.scroll-fix::before {
  display: block;
  height: 85px;
  margin-top: -85px;
  content: '';
}

.wrapper {
  width: 80%;
  max-width: 2560px;
  margin: 0 auto;
}

.jumbotron {
  margin: 0;
}

.light-section {
  color: #031a0c;
}

.underline hr {
  border-top: 10px dotted #f5e23d;
  width: 50px;
}

#navbar {
  text-transform: uppercase;
}

#navbar a {
  color: #c7c7c5;
}

#navbar a:hover {
  color: #f5e23d;
}

#navbar i {
  color: #33e007;
  font-size: 35px;
  padding: 10px 20px;
}

#navbar .fa-bars {
  color: #f5e23d;
}

#navbar .active {
  color: #f5e23d;
}

.shadow-bg {
  background-color: #040e00ad;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 43, 18, 0.733);
  z-index: -10;
}

#home {
  overflow: hidden;
}

#home .img-home {
  background-image: url(../img/las_bg_home.jpg);
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

#home .img-home .text-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5e23d;
  z-index: 10;
}

#home .img-home .text-home .fa-chevron-down {
  display: none;
}

#aboutUs {
  overflow: hidden;
}

#aboutUs i {
  font-size: 50px;
  padding: 15px 30px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutUs i:hover {
  color: #f5e23d;
}

#aboutUs p {
  padding: 0 15px;
}

#reserve .jumbotron {
  background-color: #031a0c;
}

#reserve .card {
  padding: 20px;
  margin: 20px 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#reserve .card p {
  color: #031a0c;
  text-align: left;
}

#reserve .card img {
  max-height: 145px;
  -o-object-fit: cover;
     object-fit: cover;
}

#reserve .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#tree .jumbotron .card-title {
  text-transform: uppercase;
  color: #031a0c;
}

#tree .jumbotron #carouselExampleCaptions {
  display: none;
}

#animal .jumbotron {
  background-color: #031a0c;
}

#animal .jumbotron .wrapper {
  width: 100%;
}

#animal .jumbotron .wrapper .card {
  padding: 20px;
  margin: 20px 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#animal .jumbotron .wrapper .card .card-body {
  padding: 5px 2px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#animal .jumbotron .wrapper .card .card-body h5 {
  text-transform: uppercase;
  color: #031a0c;
  font-weight: bold;
  font-size: 18px;
}

#animal .jumbotron .wrapper .card .card-body p {
  color: #031a0c;
  font-size: 14px;
}

#animal .jumbotron .wrapper .card img {
  -o-object-fit: cover;
     object-fit: cover;
}

#animal .jumbotron .wrapper .card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#animal .jumbotron .wrapper .btn {
  background-color: #f5e23d;
  border: 1px solid #c7c7c5;
}

#animal .jumbotron .wrapper .btn:hover {
  font-weight: bold;
  background-color: #031a0c;
  color: #f5e23d;
}

#undergrowth h5 {
  padding: 10px 0;
  font-weight: bold;
  color: #031a0c;
}

#undergrowth .img-undergrowth {
  width: 100%;
  border-radius: 50%;
}

#trip .jumbotron {
  background-color: #031a0c;
}

#trip .jumbotron .wrapper .carousel-trip img {
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact .img-contact {
  background-image: url(../img/las_bg_contact.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

#contact .img-contact h2 {
  padding-top: 50px;
}

#contact .img-contact h3 {
  font-weight: bold;
}

#contact .img-contact i {
  color: #f5e23d;
  font-size: 25px;
  padding: 0 10px;
}

#contact .img-contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .img-contact .col-md-4 {
  padding-top: 50px;
}

@media (min-width: 400px) {
  #animal .jumbotron .wrapper .card img {
    height: 138px;
  }
  #animal .jumbotron .wrapper .card .card-body {
    height: 220px;
  }
  #trip .jumbotron .wrapper .carousel-trip img {
    max-height: 177px;
  }
}

@media (min-width: 520px) {
  #animal .jumbotron .wrapper .card img {
    height: 200px;
  }
  #animal .jumbotron .wrapper .card .card-body p {
    font-size: 16px;
  }
  #trip .jumbotron .wrapper .carousel-trip img {
    max-height: 220px;
  }
}
/*# sourceMappingURL=mobile.css.map */