#tree
    .jumbotron
        #carouselExampleCaptions
            .carousel-item
                img
                    height: 500px
                .text-carousel
                    h5
                        font-size: 25px
                        font-weight: bold
                    p
                        font-size: 20px
                        width: 70%
                        margin: 0 auto
@media ( min-width: 1000px )
    #reserve
        .card
            height: 490px
            img
                max-height: 160px
@media ( min-width: 1200px )
    #reserve
        .card
            height: 450px
            img
                max-height: 200px
    #tree
        .jumbotron
            #carouselExampleCaptions
                .carousel-item
                    img
                        height: 600px
@media ( min-width: 1500px )
    #reserve
        .card
            height: 450px
            img
                max-height: 250px
