//header 
#home
    .img-home
        .text-home
            .fa-chevron-down
                display: block
                position: absolute
                bottom: 25px
                transform: translateX(-50%)
                font-size: 20px
